<div class="container container-style">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8 border-end border-start" style="background-color: #e2f2ff;">
      <div class="row sticky-nav p-1 bg-primary border-bottom">
        <div class="d-flex align-items-center">
          <div class="col-9 text-white max-1-line">
            <%= @room.room_name %>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <% if user_signed_in? && current_user.id == @host_id %>
              <a class="btn btn-outline-light me-2" href="/rooms/<%=@room.id%>/edit" role="button">編集</a>
              <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#destroyBackdrop">
                削除
              </button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row message-area">
        <div id="messages">
          <%= render partial: 'message', locals: {messages: @messages} %>
        </div>
      </div>
      <%= form_with(model: [@room,@message], class: "needs-validation row justify-content-center", html: {novalidate: true}, remote: true) do |f| %>
        <div class="border-bottom pt-1 message-field">
          <div class="row g-0 align-items-center mb-3">
            <div class = "col-10">
              <%= f.text_area :sentence, class: "form-control ", id: "message-form", maxlength: "150", required: true ,placeholder: 'Message:150文字以内'%>
            </div>
            <div class = "col-2 text-center">
              <%= f.submit "送信", class:"btn btn-lg btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!-- Modal -->
<%= render partial: 'shared/destroy_modal', locals: {url: room_path(params[:room_id])} %>


<script>
const target = document.getElementById('messages');
target.scrollIntoView(false);
</script>