<div class="container container-style">
  <div class="row">
    <%= form_with(model: @blog, url: url, class: "needs-validation", id: "new_post", html: {novalidate: true}, local: true) do |f| %>
      <div class="col-9 mx-auto">
        <div class="row g-0 sticky-nav bg-dark px-3">
          <div class="d-flex align-items-center">
            <div class="col-4 my-auto">
            </div>
            <div class="col-4">
              <div class="text-center text-white">
                <% if controller.action_name == "new"%>
                  New Blog
                <% else %>
                  Edit Blog
                <% end %>
              </div>
            </div>
            <div class="col-4">
              <div class="text-end">
                <%= f.submit "投稿", class:"btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-0 border mb-5 px-3 pt-4">
          <%= render 'shared/post_user' %>
          <div class="row g-0 my-4">
            <div class="mb-4">
              <%= f.text_field :title, class: "form-control form-control-lg", placeholder: 'タイトル（最大50文字）【必須】', maxlength: "50", autofocus: true , required: true %>
              <div class="invalid-feedback">
                タイトルを入力してください
              </div>
            </div>
            <div class="mb-4">
              <div class="row g-0">
                <div class="col-10">
                <%= f.file_field :blog_image, class:"form-control", id:"blog-image"%>
                </div>
                <div class="col-2">
                <%= f.label :blog_image, class: "input-group-text bg-dark text-white" %>
                </div>
              </div>
              <div class="form-text">「.png」または「.jpeg」の画像のみ</div>
              <% if controller.action_name == "edit"%>
                <div class="form-text">「ファイルを選択」しなければ元の画像のまま</div>
              <% end %>
              <div id="previews" class="mt-2"></div>
            </div>
            <div>
              <%= f.text_area :article, class: "form-control", placeholder: 'ブログを書きましょう【必須】', style: "height: 90vh", required: true %>
              <div class="invalid-feedback">
                内容を記述してください
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  (function () {
    'use strict';
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
  })()
</script>

<script>
document.addEventListener('DOMContentLoaded', function(){
  const postForm = document.getElementById('new_post');
  const previewList = document.getElementById('previews');
  if (!postForm) return null;
  const fileField = document.querySelector('input[type="file"][name="blog[blog_image]"]');
  fileField.addEventListener('change', function(e){
    const alreadyPreview = document.querySelector('.preview');
    if (alreadyPreview) {
      alreadyPreview.remove();
    };
    const file = e.target.files[0];
    const blob = window.URL.createObjectURL(file);
    const previewWrapper = document.createElement('div');
    previewWrapper.setAttribute('class', 'preview');
    const previewImage = document.createElement('img');
    previewImage.setAttribute('class', 'preview-blog-image mx-auto d-block');
    previewImage.setAttribute('src', blob);
    previewWrapper.appendChild(previewImage);
    previewList.appendChild(previewWrapper);
  });
});
</script>