<div class="container container-style">
  <div class="row my-4">
    <div class="card g-0 bg-dark">
      <div class="display-4 fst-italic  text-white text-center">
        Blog
      </div>
      <%= image_tag "blog-title-img.png", class:"card-img img-fluid", style:"max-height: 70vh;"%>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-9">
      <div class="row border mb-5" style="min-height: 350px">
        <div class="row g-0 p-3 border-bottom" style="min-height: 150px">
          <h2><%= @blog.title %></h2>
          <p><small class="text-muted"><%= l @blog.updated_at %></small></p>
          <% if @blog.blog_image.present? %>
            <%= image_tag @blog.blog_image, class:"my-4", style:"max-height:60vh;"%>
          <% else %>
            <%= image_tag "no-image.png", class:"my-4", style:"max-height:60vh;"%>
          <% end %>
          <div class="new-line py-4"><%= @blog.article %></div>
        </div>
        <div class="row g-0 align-items-center justify-content-center">
          <div class="col-4">
            <div class="text-center"><small class="text-muted"><%= @blog.b_comments.count %>件のコメント</small></div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-chat-left" style="font-size: 25px;"></i>
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="text-center"><small class="text-muted">1件のいいね</small></div>
            <div class="d-flex justify-content-center">
              <%= link_to '', "#", class:"bi bi-heart-fill like-icon" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-1 bg-secondary" style="height: 50px;">
        <div class="d-flex align-items-center justify-content-center text-white">コメント</div>
      </div>
      <% @b_comments.each do |comment|%>
        <div class="row border">
          <div class="row g-0 mt-3">
            <div class="col-3">
              <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
                <% if comment.user&.profile&.image.present? %>
                  <%= link_to image_tag(comment.user.profile.image, class:"rounded-circle mx-auto d-block user-icon"), user_path(comment.user_id) %>
                <% else %>
                  <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded-circle mx-auto d-block user-icon"), user_path(comment.user_id) %>
                <% end %>
              </div>
            </div>
            <div class="col-9 my-auto">
                <h4 class="text-truncate"><%= comment.user.nickname %></h4>
            </div>
          </div>
          <div class="row g-0 p-3">
            <p class="new-line"><%= comment.b_text %></p>
          </div>
          <div class="row g-0 ps-3">
            <p class=""><small class="text-muted"><%=l comment.updated_at %></small></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-3 sticky-nav">
      <div class="row px-2 mt-3" style="max-height: 90vh; overflow: scroll;">
        <% if user_signed_in? && current_user == @blog.user %>
          <h3 class="text-center fst-italic fw-light text-decoration-underline">Blog</h3>
          <div class="row g-0 align-items-center text-center">
          <div class="col-6">
            <a class="btn btn-link text-info" href="/blogs/<%=@blog.id%>/edit" role="button"><i class="bi bi-pencil-square fs-2"></i></a>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-link text-secondary" data-bs-toggle="modal" data-bs-target="#destroyBackdrop">
              <i class="bi bi-trash fs-2"></i>
            </button>
          </div>
          </div>
        <% end %>
        <div class="row g-0 align-items-center">
          <div class="col-6">
            <div class="text-center"><small class="text-muted"><%= @blog.b_comments.count %>件のコメント</small></div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="bi bi-chat-left" style="font-size: 25px;"></i>
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="text-center"><small class="text-muted">1件のいいね</small></div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-link">
              <%= link_to '', "#", class:"bi bi-heart-fill like-icon" %>
              </button>
            </div>
          </div>
        </div>
        <div class="row g-0 border shadow py-2 my-2">
          <h3 class="text-center fst-italic fw-light text-decoration-underline">Profile</h3>
          <div class="mt-2" >
            <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
              <% if @blog.user&.profile&.image.present? %>
                <%= link_to image_tag(@blog.user.profile.image, class:"rounded-circle mx-auto d-block user-icon"), user_path(@blog.user_id) %>
              <% else %>
                <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded-circle mx-auto d-block user-icon"), user_path(@blog.user_id) %>
              <% end %>
            </div>
          </div>
          <div class="mt-2">
            <h4 class="text-center"><%= @blog.user.nickname %></h4>
          </div>
          <div class="text-center" id="follow-count-<%=@blog.user_id%>">
            <%= render "shared/follow_count", {uri: @blog.user_id, follow_count: @blog.user.followings.count, follower_count: @blog.user.followers.count} %>
          </div>
          <div class="mt-3 d-flex justify-content-center" id="follow-ajax-<%=@blog.user_id%>">
            <%= render "shared/follow", user:@blog.user %>
          </div>
          <div class="row mt-3">
            <div class="mb-1">自己紹介</div>
            <div class="text-black-50"><small>
              <% if @blog.user&.profile&.self_introduction%>
                <%= @blog.user.profile.self_introduction %>
              <% elsif @blog.user&.profile %>
                自己紹介 未登録
              <% else %>
                プロフィール未登録
              <% end %>
            </small></div>
          </div>
          <div class="row mt-3">
            <div class="mb-1">お気に入りの本</div>
            <div class="text-black-50"><small>
              <% if @blog.user&.profile&.favorite_book%>
                <%= @blog.user.profile.favorite_book %>
              <% elsif @blog.user&.profile %>
                お気に入りの本 未登録
              <% else %>
                プロフィール未登録
              <% end %>
            </small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <% if user_signed_in? %>
    <div class="modal-dialog">
      <%= form_with model: @b_comment, url:blog_b_comments_path(@blog.id), local: true do |f| %>
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">コメント</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row g-0 pb-2">
              <div class="col-1">
                <div>
                  <% if current_user&.profile&.image.present? %>
                    <%= image_tag current_user.profile.image, class:"rounded-circle d-block", style:"height: 40px; width: 40px" %>
                  <% else %>
                    <%= image_tag "bookdisc-icon-image.png", class:"rounded-circle d-block", style:"height: 40px; width: 40px" %>
                  <% end %>
                </div>
              </div>
              <div class="col-10 my-auto ps-3">
                <div class="fs-6 text-truncate"><%= current_user.nickname %></div>
              </div>
            </div>
            <%= f.text_area :b_text, class: "form-control ", maxlength: "150", rows: "5", autofocus: true %>
          </div>
          <div class="modal-footer">
            <%= f.submit "投稿", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">ログインしていません</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="my-2">ログインするかアカウント作成をしてください</div>
        </div>
        <div class="modal-footer">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
          <%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/destroy_modal', locals: {url: blog_path(params[:id])} %>