<div class="container mt-auto">
  <div class="card mb-3 mx-auto" style="width: 540px; min-height: 350px">
    <div class="card-header bg-primary text-white">
      ブログ
    </div>
    <div class="row g-0">
      <div class="col-md-3 mt-4" >
        <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
          <% if @blog.user.profile.present? && @blog.user.profile.image.present?%>
            <%= link_to image_tag(@blog.user.profile.image, class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% else %>
            <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title"><%= @blog.user.nickname %></h3>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="d-flex justify-content-end">
          <a class="btn btn-outline-primary" href="/blogs/<%=@blog.id%>/edit" role="button">編集</a>
        </div>
      </div>
    </div>
    <div class="row g-0 border-bottom" style="min-height: 280px">
      <div class="card-body">
        <div class="row">
          <p class="card-text "><small class="text-muted"><%= l @blog.updated_at %></small></p>
          <h3 class="card-title"><%= @blog.title %></h3>
        </div>
        <div class="row mt-4">
          <p class="card-text" style="white-space: pre-wrap; word-wrap: break-word"><%= @blog.article %></p>
        </div>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-evenly">
      <div class="col-3">
        <p class="card-text"><small class="text-muted">1件のコメント</small></p>
      </div>
      <div class="col-3">
        <p class="card-text"><small class="text-muted">2件のいいね</small></p>
      </div>
    </div>
    <div class="row mt-1 d-flex justify-content-evenly">
      <div class="col-3">
        <a href="#">コメントする</a>
      </div>
      <div class="col-3">
        <a href="#">いいね</a>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
</div>