<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Signin Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <%= link_to image_tag("bookdisc-icon-image.png", class:"bookdisc-icon mb-4"), "/" %>
  <h1 class="h3 mb-3 fw-normal">アカウント作成</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.label :nickname, class: "visually-hidden" %>ニックネーム  <span class="badge rounded-pill bg-danger mb-2">必須</span><br />
    <%= f.text_field :nickname, class:"form-control", autofocus: true, autocomplete: "nickname" %>
    <%= f.label :email, class: "visually-hidden" %>Eメール  <span class="badge rounded-pill bg-danger mb-2">必須</span><br />
    <%= f.email_field :email, class:"form-control", autocomplete: "email" %>
    <%= f.label :password, class: "visually-hidden" %><br />
    <% if @minimum_password_length %>
    <em>パスワード(<%= @minimum_password_length %> 文字以上)  <span class="badge rounded-pill bg-danger mb-2">必須</span></em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
    <%= f.label :password_confirmation, class: "visually-hidden" %>パスワード（確認用）  <span class="badge rounded-pill bg-danger mb-2">必須</span><br />
    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= f.submit "アカウント作成", class:"w-100 btn btn-lg btn-primary" %>
  <% end %>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
</main>


    
  </body>
</html>
