<div class="container container-style">
  <div class="row pb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav py-1 bg-primary">
        <div class="d-flex align-items-center text-white">
          <div class="col-4"></div>
          <div class="col-4">
            <div class="text-center">
              <% case controller.action_name %>
              <% when "index" %>
                Follows
              <% when "list" %>
                Followers
              <% end %>
            </div>
          </div>
          <div class="col-4">
          </div>
        </div>
      </div>
      <div class="row">
        <% if relationships.present?%>
          <% relationships.each do |relationship|%>
            <div class="row g-0 border p-2">
              <div class="col-3">
                <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
                  <% if relationship.follower&.profile&.image.present? %>
                    <%= link_to image_tag(relationship.follower&.profile&.image, class:"rounded-circle mx-auto d-block user-icon"), user_path(relationship.follower_id) %>
                  <% else %>
                    <%= link_to image_tag('bookdisc-icon-image.png', class:"rounded-circle mx-auto d-block user-icon"), user_path(relationship.follower_id) %>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <h4 class="mt-2"><%= relationship.follower.nickname %></h4>
                <div class="d-flex justify-content-around">
                  <a href="/users/<%=relationship.follower_id%>/relationships" class="link-secondary text-decoration-none"><b>フォロー</b>  <%= relationship.follower.followings.count %>人</a>
                  <a href="/users/<%=relationship.follower_id%>/relationships/list" class="link-secondary text-decoration-none"><b>フォロワー</b>  <%= relationship.follower.followers.count %>人</a>
                </div>
              </div>
              <div class="col-3 d-flex justify-content-end align-items-center">
                <% if user_signed_in? && current_user != relationship.follower %>
                  <% if current_user.following?(relationship.follower) %>
                      <%= link_to 'フォロー解除', user_relationship_path(current_user.id, current_user.relationships.find_by(follower: relationship.follower)), method: :delete , class:"btn btn-outline-primary" %>
                  <% else %>
                      <%= link_to 'フォロー', user_relationships_path(user_id: current_user.id, follower: relationship.follower), method: :post, class:"btn btn-outline-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row g-0 border py-4">
            <h4 class="text-center">
              <% case controller.action_name %>
              <% when "index" %>
                フォローしているユーザー
              <% when "list" %>
                フォロワー
              <% end %>
              はいません
            </h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>