<div class="container mt-auto">
  <div class="card mb-3 mx-auto" style="width: 540px; min-height: 350px">
    <div class="card-header bg-primary text-white">
      フォロー一覧
    </div>
    <div class="row g-0 border-bottom position-relative" style="min-height: 280px">
      <div class="col-md-3 mt-4" >
        <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
          <% if @tweet.user.profile.present? && @tweet.user.profile.image.present?%>
            <%= link_to image_tag(@tweet.user.profile.image, class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% else %>
            <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h3 class="card-title"><%= @tweet.user.nickname %></h3>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="d-flex justify-content-evenly">
          <% if user_signed_in? && current_user.id == @user.id %>
            <%= link_to 'フォロー解除', relationship_path(current_user.relationships.find_by(follower: @user)), method: :delete , class:"btn btn-outline-primary"%>
          <% else %>
            <%= link_to 'フォロー', relationships_path(follower: @user), method: :delete , class:"btn btn-outline-primary"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>