<div class="container container-style">
  <div class="row pb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav p-1 bg-primary">
        <div class="d-flex align-items-center text-white">
          <div class="col-4">
          </div>
          <div class="col-4">
            <div class="text-center">フォロワー</div>
          </div>
          <div class="col-4">
            <div class="text-end">
              <i class="bi bi-person-circle"></i><%= @user.nickname %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @followers.present?%>
          <% @followers.each do |follower|%>
            <div class="row g-0 border p-2">
              <div class="col-3">
                <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
                  <% if follower.user&.profile&.image.present? %>
                    <%= link_to image_tag(follower.user&.profile&.image, class:"rounded-circle mx-auto d-block user-icon"), user_path(follower.user_id) %>
                  <% else %>
                    <%= link_to image_tag('bookdisc-icon-image.png', class:"rounded-circle mx-auto d-block user-icon"), user_path(follower.user_id) %>
                  <% end %>
                </div>
              </div>
              <div class="col-6">
                <h4 class="mt-2"><%= follower.user.nickname %></h4>
                <div class="d-flex justify-content-around">
                  <a href="/users/<%=follower.user_id%>/relationships" class="link-secondary text-decoration-none"><b>フォロー</b>  <%= follower.user.followings.count %>人</a>
                  <a href="/users/<%=follower.user_id%>/relationships/list" class="link-secondary text-decoration-none"><b>フォロワー</b>  <%= follower.user.followers.count %>人</a>
                </div>
              </div>
              <div class="col-3 d-flex justify-content-end align-items-center" id="follow-ajax-<%=follower.user_id%>">
                <%= render "shared/follow", user: follower.user %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row g-0 border py-4">
            <h4 class="text-center">フォロワーはいません</h4>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>