<div class="row border" style=" height: 350px">
  <div class="row g-0 mt-3">
    <div class="col-3">
      <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
        <% if tweet.user.profile.present? && tweet.user.profile.image.present?%>
          <%= link_to image_tag(tweet.user.profile.image, class:"rounded-circle mx-auto d-block user-icon"), user_path(tweet.user_id) %>
        <% else %>
          <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded-circle mx-auto d-block user-icon"), user_path(tweet.user_id) %>
        <% end %>
      </div>
    </div>
    <div class="col-9 my-auto">
        <h3 class="text-truncate"><%= tweet.user.nickname %></h3>
    </div>
  </div>
  <div class="row g-0 p-3" style="height: 150px">
    <p class="card-text"><%= tweet.content %></p>
  </div>
  <div class="row g-0 border-bottom ps-3">
    <p class=""><small class="text-muted"><%= l tweet.updated_at %></small></p>
  </div>
  <div class="row g-0 align-items-center">
    <div class="col-4">
      <div class="text-center"><small class="text-muted"><%= tweet.t_comments.count %>件のコメント</small></div>
      <div class="d-flex justify-content-center">
        <a href="/tweets/<%=tweet.id%>/t_comments/new"><i class="bi bi-chat-left" style="font-size: 25px;"></i></a>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center"><small class="text-muted"><%= tweet.likes.count %>件のいいね</small></div>
      <div class="d-flex justify-content-center">
        <% if current_user&.like?(tweet) %>
          <%= link_to '', like_path(current_user.likes.find_by(tweet: tweet)), method: :delete , class:"bi bi-heart-fill like-icon" %>
        <% else %>
          <%= link_to '', likes_path(tweet: tweet), method: :post, class:"bi bi-heart like-icon" %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="text-center"><small class="text-muted">ツイート詳細</small></div>
      <div class="d-flex justify-content-center">
        <a href="/tweets/<%=tweet.id%>" class=""><i class="bi bi-door-open" style="font-size: 25px;"></i></a>
      </div>
    </div>
  </div>
</div>
