<div class="container container-style">
  <div class="row pb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row sticky-nav py-1 bg-primary">
        <div class="d-flex align-items-center justify-content-center text-white">
          <% if controller.action_name == "new" %>
            ツイート新規投稿
          <% else %>
            ツイート編集
          <% end %>
        </div>
      </div>
      <div class="row border" style="height: 390px">
        <%= form_with model: @tweet_form, url: url, method: method, class: "needs-validation", html: {novalidate: true}, local: true do |f| %>
          <div class="row g-0 mt-3">
            <div class="col-3">
              <% if @user&.profile&.image%>
                <%= image_tag @user.profile.image, class:"rounded-circle mx-auto d-block user-icon" %>
              <% else %>
                <%= image_tag "bookdisc-icon-image.png", class:"rounded-circle mx-auto d-block user-icon" %>
              <% end %>
            </div>
            <div class="col-7 my-auto">
              <div class="fs-3 text-truncate"><%= @user.nickname %></div>
            </div>
            <div class="col-2 my-auto">
              <div class="text-center">
                <% if controller.action_name == "new" %>
                  <%= f.submit "投稿", class:"btn btn-lg btn-primary"%>
                <% else %>
                  <%= f.submit "更新", class:"btn btn-lg btn-primary"%>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row g-0 p-3" style="height: 230px">
            <div>
              <%= f.text_area :content, class: "form-control", placeholder: 'ツイートしましょう（150文字まで）', maxlength: "150", rows: "7", autofocus: true, required: true %>
              <div class="invalid-feedback">
                内容を入力してください
              </div>
            </div>
          </div>
          <div class="row g-0 px-3">
            <%= f.text_field :t_tag_name, class: "form-control ",placeholder: 'タグ（40文字まで）',maxlength: "40", autocomplete: "t_tag_name" %>
            <div id="search-result" class="mt-1"></div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
const  tTagNameInput = document.querySelector("#tweet_form_t_tag_name");
  if (tTagNameInput){
    const inputElement = document.getElementById("tweet_form_t_tag_name");
    inputElement.addEventListener("input", () => {
      const keyword = document.getElementById("tweet_form_t_tag_name").value;
      const XHR = new XMLHttpRequest();
      XHR.open("GET", `/tweets/search/?keyword=${keyword}`, true);
      XHR.responseType = "json";
      XHR.send();
      XHR.onload = () => {
        const searchResult = document.getElementById("search-result");
        searchResult.innerHTML = "";
        if (XHR.response) {
          const tTagName = XHR.response.keyword;
          tTagName.forEach((tag) => {
            const childElement = document.createElement("button");
            childElement.setAttribute("type", "button");
            childElement.setAttribute("class", "child list-group-item list-group-item-action");
            childElement.setAttribute("id", tag.id);
            childElement.innerHTML = tag.t_tag_name;
            searchResult.appendChild(childElement);
            const clickElement = document.getElementById(tag.id);
            clickElement.addEventListener("click", () => {
              document.getElementById("tweet_form_t_tag_name").value = clickElement.textContent;
              clickElement.remove();
              searchResult.innerHTML = "";
            });
          });
        };
      };
    });
  };
});
</script>

<script>
  (function () {
    'use strict';
      var forms = document.querySelectorAll('.needs-validation')
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
  })()
</script>