<div class="container mt-auto d-flex flex-column">
  <% if @tweets.present? %>
    <% @tweets.each do |tweet| %>
    <div class="card mb-3 mx-auto" style="width: 540px; height: 350px">
      <div class="row g-0 border-bottom position-relative" style="height: 280px">
        <div class="col-md-4 mt-4" >
          <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
          <% if tweet.user.profile.present? && tweet.user.profile.image.present?%>
            <%= link_to image_tag(tweet.user.profile.image, class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), user_path(tweet.user_id) %>
          <% else %>
            <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), user_path(tweet.user_id) %>
          <% end %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><%= tweet.user.nickname %></h3>
            <p class="card-text"><%= tweet.content %></p>
            <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted"><%= l tweet.updated_at %></small></p>
          </div>
        </div>
      </div>
      <div class="row mt-2 d-flex justify-content-evenly">
        <div class="col-3">
          <p class="card-text"><small class="text-muted">1件のコメント</small></p>
        </div>
        <div class="col-3">
          <p class="card-text"><small class="text-muted">2件のいいね</small></p>
        </div>
        <div class="col-3">
        </div>
      </div>
      <div class="row mt-1 d-flex justify-content-evenly align-items-center">
        <div class="col-3">
          <a href="#">コメントする</a>
        </div>
        <div class="col-3">
          <% if current_user&.like?(tweet) %>     
            <%= link_to '', like_path(current_user.likes.find_by(tweet: tweet)), method: :delete , class:"bi bi-heart-fill like-icon" %>
          <% else %>
            <%= link_to '', likes_path(tweet: tweet), method: :post, class:"bi bi-heart like-icon" %>
          <% end %>
        </div>
        <div class="col-3">
          <a href="/tweets/<%=tweet.id%>">ツイート詳細</a>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="row justify-content-center">
      <div class="col-8 border">
        <h3>ツイートが存在しません</h3>
        <p>新規ツイート作成はこちら</p>
        <%= link_to 'ツイート作成', new_tweet_path, class:"btn btn-outline-primary"%>
      </div>
    </div>
  <% end %>
</div>