<div class="container mt-auto">
  <div class="card mb-3 mx-auto" style="width: 540px; height: 350px">
    <div class="card-header bg-primary text-white">
      ツイート
    </div>
    <div class="row g-0 border-bottom position-relative" style="height: 280px">
      <div class="col-md-3 mt-4" >
        <div data-bs-toggle="tooltip" data-bs-placement="top" title="このユーザーのページに移動">
          <% if @tweet.user.profile.present? && @tweet.user.profile.image.present?%>
            <%= link_to image_tag(@tweet.user.profile.image, class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% else %>
            <%= link_to image_tag("bookdisc-icon-image.png", class:"rounded mx-auto d-block", style: "max-width: 100px; max-height: 100px;"), "#" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h3 class="card-title"><%= @tweet.user.nickname %></h3>
          <p class="card-text"><%= @tweet.content %></p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted"><%= l @tweet.updated_at %></small></p>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="d-flex justify-content-evenly">
          <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <a class="btn btn-outline-primary" href="/tweets/<%=@tweet.id%>/edit" role="button">編集</a>
          <%= link_to '削除', tweet_path(params[:id]), method: :delete , class:"btn btn-outline-primary"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-evenly">
      <div class="col-3">
        <p class="card-text"><small class="text-muted">1件のコメント</small></p>
      </div>
      <div class="col-3">
        <p class="card-text"><small class="text-muted">2件のいいね</small></p>
      </div>
    </div>
    <div class="row mt-1 d-flex justify-content-evenly">
      <div class="col-3">
        <a href="#">コメントする</a>
      </div>
      <div class="col-3">
        <a href="#">いいね</a>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3 mx-auto" style="width: 540px;">
    <div class="card-header">
      コメント
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <img class="rounded mx-auto d-block" src="https://picsum.photos/200/200" alt="..." style="max-width: 100px; max-height: 100px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">ユーザー名</h3>
          <p class="card-text">本文</p>
          <p class="card-text position-absolute bottom-0 mb-2"><small class="text-muted">投稿日</small></p>
        </div>
      </div>
    </div>
  </div>
</div>