<div class="container container-style">
  <div class="row pb-3">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="row bg-primary p-1" style="height:50px;">
        <div class="col-4">
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center h-100">
          <div class="text-white">
            User Page
          </div>
        </div>
        <div class="col-4 g-0">
          <% if user_signed_in? && current_user == @user %>
            <div class="text-end">
              <button class="btn btn-link text-white-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-gear-fill fs-5"></i>
              </button>
            </div>
            <div class="collapse" id="collapseExample">
              <div class="card w-75 ms-auto">
                <div class="card-header">
                  <i class="bi bi-pencil-square"></i> 編集
                </div>
                <div class="py-1">
                  <%= link_to "アカウント編集", edit_user_registration_path ,class:"dropdown-item"%>
                  <% if @user&.profile %>
                    <%= link_to "プロフィール編集", edit_profile_path(params[:id]) ,class:"dropdown-item"%>
                  <% else %>
                    <%= link_to "プロフィール作成", new_profile_path ,class:"dropdown-item"%>
                  <% end %>
                </div>
                <div class="card-header border-top">
                  <i class="bi bi-trash-fill"></i> 削除
                </div>
                <div class="py-1">
                  <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#destroyBackdrop">
                    アカウント削除
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row border px-2 py-3">
        <div class="row g-0">
          <div class="col-3">
            <% if @user&.profile&.image.present? %>
              <%= image_tag @user&.profile&.image, class:"rounded-circle mx-auto d-block user-icon" %>
            <% else %>
              <%= image_tag 'bookdisc-icon-image.png', class:"rounded-circle mx-auto d-block user-icon" %>
            <% end %>
          </div>
          <div class="col-6">
            <h3><%= @user.nickname %></h3>
            <div class="d-flex justify-content-around" id="follow-count-<%=@user.id%>">
              <%= render "shared/follow_count", {uri: @user.id, follow_count: @user.followings.count, follower_count: @user.followers.count} %>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex justify-content-end" id="follow-ajax-<%=@user.id%>">
              <%= render "shared/follow", user: @user %>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="fs-5 mb-1">自己紹介</div>
          <div class="text-black-50">
            <% if @user&.profile&.self_introduction%>
              <%= @user.profile.self_introduction %>
            <% elsif @user&.profile %>
              自己紹介 未登録
            <% else %>
              プロフィール未登録
            <% end %>
          </div>
        </div>
        <div class="row my-3">
          <div class="fs-5 mb-1">お気に入りの本</div>
          <div class="text-black-50">
            <% if @user&.profile&.favorite_book %>
              <%= @user.profile.favorite_book %>
            <% elsif @user&.profile %>
              お気に入りの本 未登録
            <% else %>
              プロフィール未登録
            <% end %>
          </div>
        </div>
        <div class="row g-0 mt-4">
          <nav>
            <div class="nav nav-tabs justify-content-evenly" id="nav-tab" role="tablist">
              <button 
                class="nav-link active" id="nav-tweet-tab" data-bs-toggle="tab" data-bs-target="#nav-tweet" 
                type="button" role="tab" aria-controls="nav-tweet"aria-selected="true"
              >
                ツイート
              </button>
              <button 
                class="nav-link" id="nav-blog-tab" data-bs-toggle="tab" data-bs-target="#nav-blog"
                type="button" role="tab" aria-controls="nav-blog" aria-selected="false"
              >
                ブログ
              </button>
              <button 
                class="nav-link" id="nav-like-tab" data-bs-toggle="tab" data-bs-target="#nav-like"
                type="button" role="tab" aria-controls="nav-like" aria-selected="false"
              >
                いいね
              </button>
            </div>
          </nav>
          <div class="tab-content my-2" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tweet" role="tabpanel" aria-labelledby="nav-tweet-tab">
              <div class="px-3">
                <% if @tweets.present? %>
                  <%= render partial:'tweets/tweet', collection: @tweets%>
                <% else %>
                  <%= render partial: 'shared/none_data', locals: {data: 'ツイート', url: new_tweet_path} %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-blog" role="tabpanel" aria-labelledby="nav-blog-tab">
              <div class="row px-3">
                <% if @blogs.present? %>
                  <%= render partial:'blogs/blog', collection: @blogs%>
                <% else %>
                  <%= render partial: 'shared/none_data', locals: {data: 'ブログ', url: new_blog_path} %>
                <% end %>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab">
              <div class="px-3">
                <% if @likes.present? %>
                  <%= render partial:'tweets/tweet', collection: @likes %>
                <% else %>
                  <h4 class="text-center mt-4 text-decoration-underline">いいねがありません</h4>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
<%= render partial: 'shared/destroy_modal', locals: {url: user_path(@user.id)} %>