<div class = "container container-style">
  <div class="row py-5">
    <div class="col-4 mx-auto">
      <h3 class="my-5 text-center">パスワード変更</h3>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <div class="text-danger">
          <small><%= render "devise/shared/error_messages", resource: resource %></small>
          <%= f.hidden_field :reset_password_token %>
        </div>
        <div class = "mb-3">
          <div class="d-flex align-items-center mb-1">
            新しい<%= f.label :password %>（8文字以上）
            <div class="badge bg-danger ms-2">必須</div>
          </div>
          <%= f.password_field :password, class:"form-control", autofocus: true %>
        </div>
        <div class = "mb-3">
          <div class="d-flex align-items-center mb-1">
            新しい<%= f.label :password_confirmation%>
            <div class="badge bg-danger ms-2">必須</div>
          </div>
          <%= f.password_field :password_confirmation, class:"form-control"%>
        </div>
        <div class="text-center mb-3">
          <%= f.submit "パスワード変更", class:"btn btn-primary" %>
        </div>
      <% end %>
      <div class="mt-4 text-center">
        <%= link_to "ログイン", new_user_session_path, class:"text-decoration-none link-secondary" %>
      </div>
      <div class="mt-2 text-center">
        <%= link_to "アカウント作成", new_user_registration_path, class:"text-decoration-none link-secondary" %>
      </div>
    </div>
  </div>
</div>