<nav class="navbar navbar-expand-lg navbar-dark bg-bookdisc fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bookdisc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/<%=current_user.id%>"><%= current_user.nickname %></a>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link active" %>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/sign_in">ログイン</a>
        </li>
        <li class="nav-item">
          <%= link_to "アカウント作成", new_user_registration_path, class: "nav-link active" %>
        </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            メニュー
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/tweets/new">ツイート新規投稿</a></li>
            <li><a class="dropdown-item" href="/blogs/new">ブログ新規投稿</a></li>
            <li><a class="dropdown-item" href="/rooms/new">ルーム作成</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/blogs">ブログ一覧</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            マイメニュー
          </a>
          <% if user_signed_in? %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/<%=current_user.id%>">マイページ</a></li>
            <li><a class="dropdown-item" href="/tweets/<%=current_user.id%>/mine">マイツイート一覧</a></li>
            <li><a class="dropdown-item" href="/rooms/<%=current_user.id%>">マイルーム一覧</a></li>
            <li><a class="dropdown-item" href="/blogs/<%=current_user.id%>/mine">マイブログ一覧</a></li>
            <li><a class="dropdown-item" href="/users/<%=current_user.id%>/relationships">フォロー一覧</a></li>
          </ul>
          <% end %>
        </li>
      </ul>
      <%= search_form_for User.ransack(params[:q]), url: search_users_path, class: "d-flex", html: {id: "search-form"} do |f|  %>
        <%= f.text_field :nickname, class:"form-control me-2", placeholder: "Search", value: params[:q]&.dig(:nickname) %>
        <%= f.submit 'Search', class:"btn btn-outline-info" %>
      <% end %>
    </div>
  </div>
</nav>