<div class = "side-bar-lists">
  <div class = "side-bar-links">
    <%= link_to 'ツイート新規投稿', new_tweet_path, class: "side-bar-link" %>
  </div>
  <div class = "side-bar-links">
    <%= link_to 'ブログ新規投稿', "#", class: "side-bar-link" %>
  </div>
  <div class = "side-bar-links">
    <%= link_to 'ブログ一覧', "#", class: "side-bar-link" %>
  </div>
  <div class = "my-page-links">
    <%= link_to 'マイページ',  profiles_path, class: "side-bar-link" %>
    <!-- <span><%= image_tag 'arrow_top.png', class: "my-page-links" %></span> -->
    <ul class="more_list">
      <li>
        <%= link_to 'マイツイート一覧', "#" , class: "my-page-link" %>
      </li>
      <li>
        <%= link_to 'マイルーム一覧', "#" , class: "my-page-link" %>
      </li>
      <li>
        <%= link_to 'マイブログ一覧', "#" , class: "my-page-link" %>
      </li>
      <li>
        <%= link_to 'フォロー一覧', "#" , class: "my-page-link" %>
      </li>
    </ul>
  </div>
</div>