<div class = "container">
  <h1 class="h3 mb-5 fw-normal text-center">ルーム作成</h1>

  <div class="mb-3">
    <%= form_with(model: @room, url: rooms_path, class: "needs-validation", html: {novalidate: true}, local: true) do |f| %>
      <div class = "mb-3 col-6 mx-auto">
        <%= f.label :room_name, class: "visually-hidden" %>ルーム名 <span class="badge rounded-pill bg-danger mb-2">必須</span><br />
        <%= f.text_field :room_name, class: "form-control ", maxlength: "30", autofocus: true , required: true %>
        <div class="invalid-feedback">
          ルーム名を入力してください
        </div>
      </div>
      <div class = "mb-3 col-6 mx-auto">
        <div class="badge rounded-pill bg-danger mb-2">必須</div>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <select name="room[user_ids][]" class="form-select">
          <option selected>招待するユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.nickname %></option>
          <% end %>
        </select>
        <div class="invalid-feedback">
          ユーザーを選択してください
        </div>
      </div>
      <div class = "col-6 mx-auto">
        <%= f.submit "ルーム作成", class:"w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  (function () {
    'use strict';

    
      var forms = document.querySelectorAll('.needs-validation')

      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
            form.classList.add('was-validated')
          }, false)
        })
  })()
</script>